<!DOCTYPE html>
<html lang="en">

<head>
	<title>【書愛流動】發布貼文</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500&display=swap" rel="stylesheet">
</head>

<body>
	<!-- Sidebar -->
	<div class="sidebar" style="display:none" id="sidebar">
		<div class="sidebar-container">
	  		<button class="close" onclick="sclose()">&times;</button>
			<a href="/protected">Home</a>
			<a href="/browse">Browse</a>
			<a href="#">Feedback</a>
		</div>
	</div>
	<div class="banner_container">
        <img src="{{ url_for('static', filename='images/banner.png') }}" alt="banner">
    </div>

	<div class="container">
  		<button class="open" onclick="sopen()">〉</button>
		<form action='/browse' method="post" class="post-form">
			<div>
				<label for="title" class="post-label">書名:</label>
				<input type="text" name="title" class="post-input">				
			</div>
			<div>
				<label for="subject" class="post-label">科目:</label>
				<select name="subject" class="post-input">
					<option value="chinese">國文</option>
					<option value="english">英文</option>
					<option value="math">數學</option>
				</select>

				<label for="grade" class="post-label">年級:</label>
				<select name="grade" class="post-input">
					<option value=7>國一</option>
					<option value=8>國二</option>
					<option value=9>國三</option>
				</select>
			</div>
			<div>
				<label for="grade" class="post-label">年級:</label>
				<select name="grade" class="post-input">
					<option value=7>國一</option>
					<option value=8>國二</option>
					<option value=9>國三</option>
				</select>
			</div>

			<input type="submit" value="Post">

		</form>
	</div>
	<script src="{{url_for('static', filename='script.js')}}"></script>

</body>
</html>