<!DOCTYPE html>
<html lang="en">

<head>
	<title>【書愛流動】搜尋</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="查詢書籍資料並登記捐贈或領取。">
	<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/68144b1df7.js" crossorigin="anonymous"></script>
</head>

<body>
	<!-- Sidebar -->
	<div class="sidebar" style="display:none" id="sidebar">
		<div class="sidebar-container">
	  		<button class="close" onclick="sclose()">&times;</button>
			<a class="sidebar-nav" href="/protected">主頁</a>
			<a class="sidebar-nav" href="/query">搜尋</a>
			<a class="sidebar-nav" href="/redeem">兌換</a>
			<div class="sidebar-bottom">
				<a href="https://www.canva.com/design/DAFWYO__YBg/s8mY9-l12zykkqQdZHk6vw/view?utm_content=DAFWYO__YBg&utm_campaign=designshare&utm_medium=link&utm_source=publishsharelink" target="_blank"><i class="fa-regular fa-circle-question"></i></a>
				<a href="https://linktr.ee/booksriver" target="_blank"><i class="fa-solid fa-link"></i></a>
				<a href="https://www.instagram.com/booksriver_2022/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
				<a href="mailto:booksriver.noreply@gmail.com"><i class="fa-regular fa-envelope"></i></a>
			</div>
		</div>
	</div>
	<div class="banner-container">
        <img src="{{ url_for('static', filename='images/banner.png') }}" alt="banner">
    </div>

	<div class="container">
  		<button class="open" onclick="sopen()">〉</button>
		<form action='/query' method="post" class="query-form">
			<div>
				<label for="name" class="query-label">書名:</label>
				<input type="text" name="name" class="query-input">
			</div>
			
			<div>
				<label for="exam" class="query-label">考試:</label>
				<select name="exam" class="query-input">
					<option value="全部">全部</option>
					<option value="學測">學測</option>
					<option value="指考">指考</option>
					<option value="會考">會考</option>
					<option value="段考">段考</option>
					<option value="多益">多益</option>
					<option value="英檢">英檢</option>
				</select>
			</div>
			<div>
				<label for="subject" class="query-label">科目:</label>
				<select name="subject" class="query-input">
					<option value="全部">全部</option>
					<option value="國文">國文</option>
					<option value="英文">英文</option>
					<option value="數學">數學</option>
					<option value="自然">自然</option>
					<option value="物理">物理</option>
					<option value="化學">化學</option>
					<option value="生物">生物</option>
					<option value="歷史">歷史</option>
					<option value="地理">地理</option>
					<option value="公民">公民</option>
				</select>
			</div>
			<div>
				<label for="category" class="query-label">類別:</label>
				<select name="category" class="query-input">
					<option value="全部">全部</option>
					<option value="工具書">工具書</option>
					<option value="題庫">題庫</option>
					<option value="地毯式複習講義">地毯式複習講義</option>
					<option value="周計畫">周計畫</option>
					<option value="模擬題本">模擬題本</option>
					<option value="歷屆試題">歷屆試題</option>
					<option value="閱讀測驗/克漏字">閱讀測驗/克漏字</option>
				</select>
			</div>
			<input type="submit" class="brown-button" value="搜尋">
		</form>
			{% for r in results %}
				<div class="post-container">
					<div class="post-text">
						<div>書名: {{ r[1] }}</div>
						<div>考試: {{ r[2] }}</div>
						<div>科目: {{ r[3] }}</div>
						<div>類別: {{ r[4] }}</div>
						<div>庫存: {{ r[5] }}</div>
					</div>
					<div>
						<div>
							<a href="/give/id={{ r[0] }}">
								<button class="brown-button">我要捐書</button>
							</a>
						</div>
						<div>
							<a href="/get/id={{ r[0] }}">
								<button class="brown-button">我要取書</button>
							</a>
					</div>
					<div>
							<a href="https://study-guides.dstw.dev/detail.php?id={{ r[0] }}" target="_blank"><button class="brown-button">看看評價</button></a>
					</div>
					</div>
				</div>
			{% endfor %}
		
		<div style="margin: 10px 0 50px 0;">找不到想要的書？
			<a href="/newBook">去新增</a>
		</div>
	</div>
	<script src="{{url_for('static', filename='script.js')}}"></script>

</body>
</html>