<!DOCTYPE html>
<html lang="en">

<head>
	<title>【書愛流動】兌換</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/68144b1df7.js" crossorigin="anonymous"></script>
</head>

<body>
	<!-- Sidebar -->
	<div class="sidebar" style="display:none" id="sidebar">
		<div class="sidebar-container">
	  		<button class="close" onclick="sclose()">&times;</button>
			<a class="sidebar-nav" href="/protected">主頁</a>
			<a class="sidebar-nav" href="/query">搜尋</a>
			<a class="sidebar-nav" href="/redeem">兌換</a>
			<div class="sidebar-bottom">
				<a href="https://www.canva.com/design/DAFWYO__YBg/s8mY9-l12zykkqQdZHk6vw/view?utm_content=DAFWYO__YBg&utm_campaign=designshare&utm_medium=link&utm_source=publishsharelink" target="_blank"><i class="fa-regular fa-circle-question"></i></a>
				<a href="https://linktr.ee/booksriver" target="_blank"><i class="fa-solid fa-link"></i></a>
				<a href="https://www.instagram.com/booksriver_2022/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
				<a href="mailto:booksriver.noreply@gmail.com"><i class="fa-regular fa-envelope"></i></a>
			</div>
		</div>
	</div>
	<div class="banner-container">
        <img src="{{ url_for('static', filename='images/banner.png') }}" alt="banner">
    </div>
	<div class="container">
  		<button class="open" onclick="sopen()">〉</button>
		<form class="query-form" action="/redeem" method="post">
			<div>
				<label for="code" class="query-label">兌換碼：</label>
				<input type="text" name="code" class="query-input">
			</div>
			<input type="submit" class="brown-button" value="兌換">
		</form>
		<div class="description">{{ msg }}</div>
		
	</div>
	<script src="{{url_for('static', filename='script.js')}}"></script>

</body>
</html>